<html>
  <body>
    <form action="/sighting" method="POST">
      <div>
        <label for="year">YEAR:</label><br />
        <input type="text" id="year" name="year" /><br />
      </div>
      <div>
        <label for="season">SEASON:</label><br />
        <input type="text" id="season" name="season" /><br />
      </div>
      <div></div>
      <input type="submit" value="Submit" />
      <div>
        <label for="state">STATE:</label>
        <input type="text" id="state" name="state" />
      </div>
      <div>
        <label for="location-details">LOCATION DETAILS:</label>
        <input type="textarea" id="location-details" name="location-details" />
      </div>
    </form>
  </body>
</html>
